# ------------------------------------------------------------
# General Python artefacts
# ------------------------------------------------------------
__pycache__/
*.py[cod]          # .pyc, .pyo, .pyd files
.pytest_cache/
.pytest.xml
.cache
.Python
env/
venv/
ENV/
venv.bak/

# ------------------------------------------------------------
# MacOS system files
# ------------------------------------------------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
ehthumbs.db    # Windows thumbnail cache
Thumbs.db

# ------------------------------------------------------------
# VS Code
# ------------------------------------------------------------
.vscode/
*.code-workspace

# ------------------------------------------------------------
# PyCharm
# ------------------------------------------------------------
.idea/
.idea/node_modules/
.idea/.idea/

# ------------------------------------------------------------
# Sublime Text
# ------------------------------------------------------------
*.sublime-workspace
*.sublime-project

# ------------------------------------------------------------
# Poetry / Pipenv
# ------------------------------------------------------------
poetry.lock
Pipfile.lock
Pipfile
poetry.toml

# ------------------------------------------------------------
# Conda
# ------------------------------------------------------------
conda-meta/
condaenv.yml

# ------------------------------------------------------------
# Jupyter Notebooks / IPython
# ------------------------------------------------------------
.ipynb_checkpoints/
jupyter_notebook_config.py
jupyter_notebook_config.json
ipython_config.py
ipython_config.json

# ------------------------------------------------------------
# Pytest
# ------------------------------------------------------------
*.coverage
.coverage
.nox/
nosetests.xml
coverage.xml

# ------------------------------------------------------------
# Log files
# ------------------------------------------------------------
*.log

# ------------------------------------------------------------
# Example emails and environment vars (user config files)
# ------------------------------------------------------------
*.env
*.ini
*.j2


# ------------------------------------------------------------
# `.env` files created by various tools
# ------------------------------------------------------------
.e
.envrc
.env

# ------------------------------------------------------------
# Misc files
# ------------------------------------------------------------
*.parquet
*.json
*.zip
*.gz
*.bz2
*.7z


# ------------------------------------------------------------
# Build directories (C/C++ compiled modules)
# ------------------------------------------------------------
build/
dist/
*.egg-info/
*.egg/
wheelhouse/
